<html>
    <head>
        <title>
            Add Source
        </title>
        <link rel="stylesheet" href="/public/css/addsource.css">
    <script>
         
        window.addEventListener('load',()=>{
        const params = (new URL(document.location)).searchParams;
        let type = params.get('type');
        document.getElementById("source").innerHTML = type;

        })
        

        function save(){
            var new_data = document.getElementById("type").value;
            if(localStorage.getItem('data') == null){
                localStorage.setItem('data', '[]');
            }    

            var old_data = JSON.parse(localStorage.getItem('data'));
            old_data.push(new_data);

            localStorage.setItem('data', JSON.stringify(old_data) );
        }
       
    </script>
    </head>
    <body>
        <h1 style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">
            ADD SOURCE
        </h1>
        <div class="box">
        <form class="form" method="POST" action="/addsource" >
            <table>
           <tr>
               <td><label style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Source Type:</label></td><br/>
               <td><input type="text" id="type" class="input-field" name="type"></td>
           </tr>
            <tr>
            <td>
                <button type="submit" onclick="save();"  class="btn" style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Save</button>
            </td>
            </tr>
        </form>
        <tr>
            <td><a href="/income"><button class="btn" style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Cancel</button></a></td>
        </tr>
        </div>
    </table>
    </body>
    </html>